
<br />
<br />

<h1 class="text-center">Gallery</h1>
<div class="booyah-box">
  <div class="row">
    <div class="column">
      <%= image_tag ("troph.jpg"), class: 'meow' %>
    </div>
    <div class="column">
      <%= image_tag ("troph.jpg"), class: 'meow'  %>
    </div>
    <div class="column">
      <%= image_tag ("troph.jpg"), class: 'meow' %>
    </div>
    <div class="column">
      <%= image_tag ("troph.jpg"), class: 'meow' %>
    </div>
    <div class="column">
      <%= image_tag ("troph.jpg"), class: 'meow' %>
    </div>
    <div class="column">
      <%= image_tag ("troph.jpg"), class: 'meow' %>
    </div>
  </div>
</div>

 