
<br />
<br />

<h1 class="text-center">Gallery</h1>
<div class="booyah-box">
  <div class="row">
    <div class="col-12 col-sm">
      <%= image_tag ('troph.jpg'), class: 'gal' %>
      <%= image_tag ('troph.jpg'), class: 'gal' %>
      <%= image_tag ('troph.jpg'), class: 'gal' %>
      <%= image_tag ('troph.jpg'), class: 'gal' %>
      <%= image_tag ('troph.jpg'), class: 'gal' %>
      <%= image_tag ('troph.jpg'), class: 'gal' %>
    </div>
  </div>
</div>